node_modules
.next
dist
build
coverage
*.log
.env*
.DS_Store
package-lock.json
pnpm-lock.yaml
yarn.lock
prisma/migrations
node_modules/@prisma/client
app/generated/prisma
**/generated/**
**/node_modules/@prisma/**
**/node_modules/@prisma/client/**
**/app/generated/**
**/generated/prisma/**
**/prisma/client/**
**/prisma/generated/**
**/generated/prisma/**
**/node_modules/@prisma/client/**
**/node_modules/@prisma/client/index.d.ts
**/node_modules/@prisma/client/index.js
**/app/generated/prisma/**
**/app/generated/prisma/wasm.d.ts
**/app/generated/prisma/wasm.js
